/* 
html{
    display: none;
}
 */

.logo-icon-desktop{
    display: none;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 10px 25px -10px rgba(255,255,255);
    z-index: 100;
    background: var(--color-white);
    padding: 10px 1rem;

}

.nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.svg-navbar{
    line-height: 0;
    padding: 8px;
    cursor: pointer;
}
.svg-navbar:hover{
    background: rgb(245, 247, 255);
    border-radius: 6px;
}
.logo{
    display: flex;
    position: relative;
    width: max-content;
}
.logo__name{
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    left: 0%;
}
.logo__name-dental{
    font-style: normal;
}
.logo__name-consultorio{
    font-family: "akatabregular", sans-serif;
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-logo-consultorio);
    color: var(--color-text-black);
    line-height: 10px;
    padding-left: 60px;

}
.logo__name-jara{
    font-family: 'cookieregular',sans-serif;
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-logo-jara);
    color: var(--color-secondary);
    line-height: 40%;
    margin-left: 12px;
    padding-left: 34px;
}
.logo__name-dental{
    font-family: 'Inter',sans-serif;
    font-size: var(--font-size-logo-dental);
    font-style: italic;
    color: var(--color-primary);
    white-space: nowrap;
    font-weight: bold;
    padding-left: 13px;
    
}
.list{
    width: 100%;
    padding: 3rem 1.5rem;
    border-radius: 0rem 0rem var(--border-radius) var(--border-radius);
    position: absolute;
    top: 100%;
    margin-left: -110%;
    display: flex;
    flex-direction: column;
    gap: 0.875rem;
    transition: margin 300ms linear;
    list-style-type: none;
    background-color: var(--color-white);
}
.list_li{
    color: var(--color-secondary);
}
.link{
    color: inherit;
    font-weight: var(--font-weight-medium);
    padding: 0.5rem 0rem;
}


.btn-reservar-mobile{
    margin-top: 1rem;
}
.btn-reservar-desktop{
    display: none;
}

/* FOR MOBILE */

@media screen and (min-width: 830px) {
    
    
}

@media screen and (min-width: 500px){
    
}


/* FOR LAPTOPS */
@media screen and (max-width: 1500px) {
    
}

/* FOR DESKTOP 1501 -> */
@media screen and (min-width : 1501px){}

/* CSS FOR JAVASCRIPT */
.show-navbar-mobile{
    margin-left: calc(0% - 16px);
}

