@import url(variables.css);

.testimonios{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px 1rem;
}
.testimonios > .section-title{
    max-width: 788px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.testimonios > .section-title h2{
    max-width: 551px;
}

.section-title h2{
    text-align: center;
}

.section-title p{
    margin-top: 15px;
    text-align: center;
    font-size: var(--font-size-logo-dental);
    color: var(--color-secondary);
    font-family: "Inter", sans-serif;
}

.testimonios-cards{
    display: flex;
    gap: 32px;
    justify-content: start;
    align-items: start;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;

}

.testimonios-cards::-webkit-scrollbar{
    display: none;
}

.test-card{
    flex-shrink: 0;
    scroll-snap-align: start;
    object-fit: contain;
}

.test-card{
    border: 1px solid var(--color-border-light-sky);
    width: 353px;
    min-height: 200px;
    border-radius: 5px;
    padding: 10px 12px;
}
.first-letter-name{
    max-width: 42px;
    width: 100%;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: var(--color-text-white);
    background: red;
    border-radius: 50%;
}

.datos-usuario{
    display: flex;
    gap: 6px;
    align-items: center;
    flex: 1;
}

.datos-nombre h3{
    font-family: "Inter", sans-serif;
    font-size: var(--tamano-parrafo);
    font-weight: var(--font-weight-medium);
    color: var(--color-secondary);
}

.datos-nombre p{
    font-family: "Inter", sans-serif;
    font-weight: var(--font-weight-regular);
    font-size: var(--tamano-parrafo-pequeno);
    color: var(--color-tertiary);
}
.card-datos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.card-comentario{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-comentario p{
    font-family: "Inter", sans-serif;
    font-size: var(--tamano-parrafo-pequeno);
    font-weight: var(--font-weight-regular);
    color: var(--color-secondary);
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    
}

.ver_mas {
    margin-top: 10px;
    color: var(--color-primary);
    text-align: center;
    font-weight: var(--font-weight-medium);
    cursor: pointer;
    display: inline-block;
}
.ver_mas:hover{
    color: #2569cf;
}

@media screen and (min-width: 780px){
    .testimonios{
        padding: 50px 16px;
    }

    .section-title P{
        font-size: var(--tamano-subtitulo);
    }

    .logo-pago::-webkit-scrollbar{
        display: none;
    }
    
    .test-card{
        width: 343px;
        
    }
}
@media screen and (min-width:1500px) {
    .testimonios-cards{
        justify-content: center;
        padding-bottom: 50px;
    }
}

/*  CSS PARA JAVASCRIPTS  */
.mostrar-mas-comentario{
    -webkit-line-clamp: unset !important;
    line-clamp: unset;
    -webkit-box-orient: unset;
    overflow: unset;
    display: unset;
}

.bg-azul-cielo-suave { background-color: #A6C9E4; } /* Azul cielo más oscuro */
.bg-celeste-pastel { background-color: #90CAF9; } /* Celeste pastel con más intensidad */
.bg-rosa-claro { background-color: #F48FB1; } /* Rosa claro más saturado */
.bg-melocoton-suave { background-color: #FFCC80; } /* Melocotón más vibrante */
.bg-verde-menta-suave { background-color: #A5D6A7; } /* Verde menta más oscuro */
.bg-lila-pastel { background-color: #CE93D8; } /* Lila más fuerte */
.bg-amarillo-pastel { background-color: #FFF176; } /* Amarillo más cálido */
.bg-lavanda-claro { background-color: #B39DDB; } /* Lavanda más saturado */
.bg-crema-suave { background-color: #FFE082; } /* Crema más intensa */
.bg-gris-perla-claro { background-color: #E0E0E0; } /* Gris perla con más contraste */

